<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vision,Mision y Valore</title>
</head>
<body>
<table border="1px">
    <tr>
    <td>  </td>
        <td>  </td>
    </tr>
    <tr>
    <td>Mision</td>
        <td>Tienda ChipTune Technology busca satisfacer las necesidades de compra que tenemos todos, a través de bienes
            de excelencia, originalidad y calidad. Nuestro modelo de negocio se basa en procesos de comercio
            electrónico, seguros y eficientes. Contamos con un equipo de trabajo altamente capacitado, con la mejor
            aptitud de servicio, sentido de la responsabilidad y ética, que busca dar un buen servicio y de calidad
            en el mejor tiempo posible. La innovación constante nos permite llegar al cliente con eficiencia.</td>
    </tr>
    <tr>
        <td>Vision</td>
        <td>Hacer a ChipTune Technology una opción viable de adquirir componentes electrónicos para que nuestros
            clientes puedan adquirir el ordenador que tanto desean</td>
    </tr>
    <tr>
        <td>Valores</td>
        <td>-Integridad: Dar lo mejor de cada uno en todo lo que realizan, haciéndose así responsables de los resultados.


-Transparencia: ser claros en la descripción de los servicios y no esconder información que puede ser relevante para la plantilla o los clientes.


-Honestidad: Va ligado al punto anterior debido que la apuesta por la honestidad genera mucho más beneficios a largo plazo que cerrar acuerdos a corto plazo sin ser plenamente sinceros con los clientes.


-Puntualidad en las entregas: Capacidad de cumplir el calendario previsto y no retrasar la culminación de los pedidos.


-Diligencia: Capacidad para ponerse manos a la obra sin dejar pasar el tiempo y sin sentir pereza.


-Excelencia: La calidad llevada al máximo.



-Competitividad: Tener la meta clara que sólo te puedes conformar estando en la cima



Orientación al cliente: Esfuerzo por repensar su propuesta de valor para adecuarse a las necesidades de sus clientes</td>
    </tr>

</table>
<ul>
    <li>
        <a href="/VMV">Vision,Mision y Valores</a>
    </li>
    <li>
        <a href="/Contactos">Contactos</a>
    </li>
     <li>
        <a href="/AVISOPTC">Aviso de Privacidad,Terminos y Condiciones</a>
    </li>
     <li>
        <a href="/RedesSociales">Relacion Redes Sociales</a>
    </li>
     <li>
        <a href="/PaginaPrincipal">Pagina Principal</a>
    </li>
</ul>
</body>
</html>