<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
</head>
<body>
<table border="1px">
    <tr>
<td>PONTE EN CONCTATO CON NOSOTROS</td>
</tr>
    <tr>
        <td>Podemos a tu disposición diferentes medios de contacto, puede
   ser a través de nuestras redes sociales, el formulario de contacto o bien te podemos atender en:</td>
</tr>
    <tr>
<td>psaldana061@accitesz.com</td>
</tr>
    <tr>
<td>3511827071</td>
    </tr>
</table>
<ul>
    <li>
        <a href="/VMV">Vision,Mision y Valores</a>
    </li>
    <li>
        <a href="/Contactos">Contactos</a>
    </li>
     <li>
        <a href="/AVISOPTC">Aviso de Privacidad,Terminos y Condiciones</a>
    </li>
     <li>
        <a href="/RedesSociales">Relacion Redes Sociales</a>
    </li>
     <li>
        <a href="/PaginaPrincipal">Pagina Principal</a>
    </li>
</ul>
</body>
</html>