<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Productos</title>
</head>
<body>
<header>
    Hola usuario:{{Usuarios}} <a href="/Login">Cerrar Sesion</a>
</header>
<ul>
  <li>
      <a href=""> Consultar productos</a>
  </li>
    <li>
      <a href="/AgregarProducto/{{Usuarios}}">Agregar nuevo producto</a>
  </li>
    <li>
      <a href="">Actualizar un producto</a>
  </li>
    <li>
      <a href="">Eliminar un producto</a>
  </li>
</ul>
</body>
</html>