<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Regritro Guardado</h1>
<table border="2px">
    <tr>
        Folio de producto
    </tr>
    <tr>
        Nombre de producto
    </tr>
    <tr>
        descripcion
    </tr>
    <tr>
        <td>{{producto[0]}}</td>
        <td>{{producto[1]}}</td>
        <td>{{producto[2]}}</td>
    </tr>
</table>
<ul>
    <li>
        <a href="/AgregarProducto/{{Usuarios}}">Agregar nuevo producto</a>
    </li>
    <li>
        <a href="/productos/{{Usuarios}}">Regresar al menu de producto</a>
    </li>
    <li>
        <a href="/PaginaPrincipal/{{Usuarios}}">Regresar al menu principal</a>
    </li>

</ul>
</body>
</html>